{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="favicon.ico">

    <title>GitHub Organizations</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-5">
                <form action="{% url 'organization:index' %}" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-0">
                                {{form.organization}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                        </div>
                    </div>
                </form>
                {% if errors %}
                <div id="errors">
                    {% for error in errors %}
                    <div class="alert alert-danger text-center" role="alert">{{error}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if errors|length == 0 and organization %}
            <div class="col-12 mt-4">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <img src="{{organization.avatar_url}}" style="width: 200px;" class="img-thumbnail">
                    </div>
                    <div class="col-12 text-center mt-2">
                        {% if organization.name %}
                        <h2>{{organization.name}}</h2>
                        {% endif %}
                        <a href="{{organization.html_url}}" target="_blank">GitHub</a>
                        {% if organization.description %}
                        <p>{{organization.description}}</p>
                        {% endif %}
                        <p>Repositorios publicos: <strong>{{organization.public_repos}}</strong></p>
                        <a href="{% url 'organization:import' organization.login %}" class="btn btn-primary">VISITAR ORGANIZACIÓN</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>